<div>
    <h2>Sensor Data</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sensor-data.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Sensor Data
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="patientUsername"><span>Patient Username</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="doctorUsername"><span>Doctor Username</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mode"><span>Mode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sessionId"><span>Session Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="routine"><span>Routine</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span>Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="xData"><span>X Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="yData"><span>Y Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="zData"><span>Z Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wData"><span>W Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateAndTime"><span>Date And Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sensorData in vm.sensorData track by sensorData.id">
                    <td><a ui-sref="sensor-data-detail({id:sensorData.id})">{{sensorData.id}}</a></td>
                    <td>{{sensorData.patientUsername}}</td>
                    <td>{{sensorData.doctorUsername}}</td>
                    <td>{{sensorData.mode}}</td>
                    <td>{{sensorData.sessionId}}</td>
                    <td>{{sensorData.routine}}</td>
                    <td>{{sensorData.createdBy}}</td>
                    <td>{{sensorData.xData}}</td>
                    <td>{{sensorData.yData}}</td>
                    <td>{{sensorData.zData}}</td>
                    <td>{{sensorData.wData}}</td>
                    <td>{{sensorData.dateAndTime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sensor-data-detail({id:sensorData.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sensor-data.edit({id:sensorData.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sensor-data.delete({id:sensorData.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
